<div class="container-fluid bg-primary">
    <div class="row  p-2">
        <div class="col-2">&nbsp;</div>
        <div class="col-5">
            <div class="row">
                <div class="text-white fs-4 col-2">
                    Flipkart
                </div>
                <div class="col-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search your item">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row align-items-center">
                <div class="btn btn-light text-primary col-4">
                    Login
                </div>
                <div class="text-white col-4 text-center">
                    More
                </div>
                <div class="text-white col-4 text-center">
                    <a class="text-white" routerLink="/product-cart" ><span class="bg-danger border" style="display: inline-block;width: 18px;height: 18px;font-size: 10px;border-radius: 50%;position: relative;top:-10px">{{cartCount}}</span> Cart</a>
                </div>
            </div>
        </div>
        <div class="col-2"> &nbsp;</div>
    </div>
</div>